{% load i18n %}
{% load static%}
        <div id="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">{% translate 'About Mariana' %}</h3>
                    </div>
                    <!-- Colocando as colunas respeitando as medidas da tela -->
                    <div class="col-md-6">
                        <img src="{% static 'portfolio/image/mary-ann.jpeg' %}" alt="Mariana" class="img-fluid">
                    </div>
                    <div class="col-md-6 text-about">
                        <h3 class="about-title">{% translate 'Some informations' %}</h3>
                        <p>{% translate "I'm a digital and traditional illustrator, i do digital drawing commissions of" %}</p>
                        <p>{% translate "and i'm currently studying visual design at Positivo University" %}</p>
                        <p>{% translate "I've been taking traditional drawing classes" %}</p´>
                        <p>{% translate 'for three years.' %}</p>
                        <p>{% translate "I'm interested in art and design and am always" %}</p>
                        <p>{% translate 'open to new experiences and learning. I work well' %}</p>
                        <p>{% translate 'in a team, am organized and creative in a constant pursuit' %}</p>
                        <p>{% translate "of knowledge. I'm passionate about inspiring people of" %}</p>
                        <p>{% translate 'my art.' %}</p>
                        <p>{% translate 'Some Visual Arts skills' %}</p>
                        <ul id="about-list">
                            <li><i class="fas fa-check"></i>{% translate 'Fundamental Elements of Visual Language' %}</li>
                            <li><i class="fas fa-check"></i>{% translate 'Artistic Techniques and Expressions' %}</li>
                            <li><i class="fas fa-check"></i>{% translate 'Creative and Congnitive Skills' %}</li>
                            <li><i class="fas fa-check"></i>{% translate 'Knowledge of Artistic System' %}</li>
                            <li><i class="fas fa-check"></i>{% translate 'Analysis and Contextualization' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>