{% load i18n %}
{% load static%}
   <div id="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="main-title">Entre em contato</h3>
                </div>
                <div class="col-md-12 contact-box">
                    <a href="{% url 'portfolio:contact_mail' %}">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <p><span class="contact-title">Envie um e-mail para </span>razgarel@gmail.com</p>
                    <p><span class="contact-title">Clique na imagem </span>para enviar um e-mail</p>
                </div>
            </div>
        </div>
    </div>