{% load i18n %}
<div class="main-content container">
        <form class="main-form" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-content form-content-grid">
                {% for campos in form %}
                    <div class="form-group {{ campos.field.widget.attrs.class }}">
                        <label for="{{ campos.id_for_label }}">{{ campos.label }}</label>
                        {{ campos }}

                        {% if campos.help_text %}
                            <p class="healp-text">{{ campos.help_text }}</p>
                        {% endif %}

                        {{ campos.errors }}
                    </div>
                    {% if campos.name == 'photo_image' and campos.value.url %}
                        <div class="span-2">
                            <img src="{{ campos.value.url }}" alt="Capa para {{ photo.titulo }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if forms.errors %}
                <div class="form-content form-content-grid">
                    <div class="form-group">
                        <div class="message message-error">
                            {% translate 'Please, fix the errors in the form' %}!!!
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <button type="submit">{% translate 'Send' %}</button>
                </div>
            </div>
        </form>
    </div>