{% load static%}
        <div id="skills_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 circle-box">
                        <div id="circleA"></div>
                        <p>HTML</p>
                    </div>
                    <div class="col-md-3 circle-box">
                        <div id="circleB"></div>
                        <p>CSS</p>
                    </div>
                    <div class="col-md-3 circle-box">
                        <div id="circleC"></div>
                        <p>Figma</p>
                    </div>
                    <div class="col-md-3 circle-box">
                        <div id="circleD"></div>
                        <p>After Effects</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 circle-box">
                        <div id="circleE"></div>
                        <p>Illustrator</p>
                    </div>
                    <div class="col-md-3 circle-box">
                        <div id="circleF"></div>
                        <p>Photoshop</p>
                    </div>
                    <div class="col-md-3 circle-box">
                        <div id="circleG"></div>
                        <p>Indesign</p>
                    </div>
                </div>
            </div>
        </div>