{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Home | {% endblock %}
{% block conteudo %}
    {% include 'global/partials/carousel.html' %}
     <div class="main-content main-content-list">
        {% for photo in photos %}
            {% include 'global/partials/photo.html' %}
        {% empty %}
            <div class="center m-y">
                <h1>{% translate 'There no works to be shown' %}...</h1>
            </div>
        {% endfor %}
     </div>
{% endblock %}